.accordionMenu{
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    text-align: center;
    margin: auto;
    &-item{
        width: 100%;
        margin-top: 3px;
        &-title{
            position: relative;
            background-color: rgb(159, 145, 248);
            border-radius: 5px;
            text-align: center;
            height: 3rem;
            position: relative;
            padding: 10px;
            p{
                width: max-content;
                margin: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            &-arrow{
                position: absolute;
                right: 15px;
               height: 1rem;
               top: 50%;
               transform: translateY(-50%);
               transition: all 0.3s ease-in;
               &-up{
                position: absolute;
                right: 15px;
                height: 1rem;
                top: 50%;
                transform: translateY(-50%);
                transform: rotateZ(180deg);
                transition: all 0.3s ease-in;
               }
              
            }
        }
        &-content{
            width: 100%;
            background-color: rgb(228, 129, 255);
            border-radius: 5px;
            visibility: hidden;
            opacity: 0;
            transition: all .2s ease-in;
            display: none;
            &-open{
                width: 100%;
               
                height: max-content;
                background-color: rgb(228, 129, 255) ;
                visibility:visible;
                border-radius: 5px;
                visibility: visible;
                opacity: 1;
                transition: all .8s ease-in;
            }
        }
    }
}
